#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar-access {
  padding: 12px;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidebar-button {
  z-index: 1;
  font-size:30px;
  cursor:pointer;
}

#title {
  z-index: 2;
  font-size: 30px;
  float: right;
}

#content {
    -webkit-transition: margin-left 0.5s ease;
    -moz-transition: margin-left 0.5s ease;
    -o-transition: margin-left 0.5s ease;
    transition: margin-left 0.5s ease;
}

#view {
  padding: 16px;
}

#sidebar-access {
  background-color: #dddddd;
}
