#sidebar {
  height: 100%;
  width: 300px;
  margin-left: -300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebarSelection:hover {
  font-weight:bold;
}

.titles{
  text-align:center;
  background-color: #4CAF50;
    color: white;
    font-weight:bold;
}
th, tr, td{ 
    border: 1px solid black;
    text-align: center;
}  
tr:nth-child(even){background-color: #f2f2f2}  
table{ 
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}


#sidebar hr {
  border: 0;
  margin: 0px 32px;
  border-top: 1px solid #eee;
}

#sidebar-access {
  padding: 24px;
  background-color: #dddddd;
}

#sidebar #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidebar-button {
  font-size:24px;
  z-index: 1;
  cursor:pointer;
}

#title {
  z-index: 2;
  font-size: 30px;
  float: right;
}

#content {
    -webkit-transition: margin-left 0.5s ease;
    -moz-transition: margin-left 0.5s ease;
    -o-transition: margin-left 0.5s ease;
    transition: margin-left 0.5s ease;
}

#view {
  padding: 16px 50px;
}



.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
input[type="radio"]{
    visibility:hidden;
}

.arryn{background-image:url(../images/arryn.png);}
.baelish{background-image:url(../images/baelish.png);}
.baratheon{background-image:url(../images/baratheon.png);}
.greyjoy{background-image:url(../images/greyjoy.png);}
.lannister{background-image:url(../images/lannister.png);}
.nightswatch{background-image:url(../images/nightswatch.png);}
.stark{background-image:url(../images/stark.png);}
.tully{background-image:url(../images/tully.png);}
.tyrell{background-image:url(../images/tyrell.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:150px;height:150px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.alert-repeater .alert {
  margin-bottom: 0px;
}

.alert-repeater:last-child .alert {
  margin-bottom: 20px;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
