<!DOCTYPE html>
<html lang="en-US" ng-app="GoT_Reference">
<title ng-bind="$page.title()">GoT Reference</title>
<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script><!-- our code -->
<script src="js/main.js"></script><!-- our code -->


<!-- styles -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/ui-bootstrap-2.5.0-csp.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>

<!-- sidebar code -->
<div id="sidebar">
  <!-- button to close sidebar -->
  <a href="javascript:void(0)" class="sidebarSelection" id="closebtn" onclick="closeNav()">&times;</a>
  <!-- query view links -->
  <a href="#!/sample" onclick="closeNav()" class="sidebarSelection">Sample</a>
  <!-- add more links here -->
  <a href="#!select_project" onclick="closeNav()" class="sidebarSelection">Select Project</a>
  <a href="#!killed" onclick="closeNav()" class="sidebarSelection">Killed</a>
  <a href="#!leader_of_group" onclick="closeNav()" class="sidebarSelection">Leader of Group</a>
  <a href="#!owner_of_place" onclick="closeNav()" class="sidebarSelection">Owner of Place</a>
  <a href="#!age_of_death" onclick="closeNav()" class="sidebarSelection">Age of Death</a>
  <a href="#!first_appearance" onclick="closeNav()" class="sidebarSelection">First Appearance</a>
  <a href="#!gender_deaths" onclick="closeNav()" class="sidebarSelection">Gender Death Stats</a>
  <a href="#!killed_young" onclick="closeNav()" class="sidebarSelection">Child Killers</a>
  <a href="#!made_orphan" onclick="closeNav()" class="sidebarSelection">Orphan Makers</a>
  <a href="#!most_episodes" onclick="closeNav()" class="sidebarSelection">Most Appearances</a>
  <a href="#!most_killed" onclick="closeNav()" class="sidebarSelection">Most Killed</a>
  <a href="#!first_appearance" onclick="closeNav()" class="sidebarSelection">Most New Characters</a>
  <a href="#!youngest_child" onclick="closeNav()" class="sidebarSelection">Youngest Child</a>
  <hr>
  <!-- link back to coverpage -->
  <a href="#!" class="sidebarSelection" onclick="closeNav()">Cover Page</a>
</div>

<!-- content code -->
<div id="content" ng-controller="ContentController" class="container-fluid">
  <div id="sidebar-access" class="row">
    <div class="col-md-2">
      <span id="sidebar-button" onclick="openNav()">&#9776; Queries</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-6">
	    <div ng-if="account==undefined" class="input-group" ng-controller="AdminLoginController">
         <span class="input-group-addon">
           Admin Login:
         </span>
		     <input class="form-control" type="text" placeholder="Username" ng-model="username_field" style="width:50%;">
		     <input class="form-control" type="password" placeholder="Password" ng-model="password_field" style="width:50%;">
         <span class="input-group-btn">
           <button class="btn btn-secondary" ng-click="submit_login_form()">Sign in</button>
           <button class="btn btn-secondary">
             <a href="#!/register">
               Register
             </a>
           </button>
         </span>
       </div>
      <div ng-if="account!=undefined" class="input-group" style="float:right;">
        <span class="input-group-addon">
          Logged in as:
        </span>
        <span class="input-group-addon" style="text-transform:capitalize;">
          {{account.USERNAME}}
        </span>
        <span class="input-group-btn">
          <button class="btn btn-secondary" ng-if="account.ISMODERATOR == true">
            <a href="" > <!-- "#!/modsettings" -->
              <span class="glyphicon glyphicon-wrench"></span>
            </a>
          </button>
          <button class="btn btn-secondary" uib-popover-template="'views/settings.html'" popover-title="Settings" popover-placement="auto bottom">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <button class="btn btn-secondary" ng-click="logout()">Logout</button>
        </span>
      </div>
     </div>
    </div>
  <!-- this div will be replaced with whatever is chosen by Angular-->
  <div class="alert-container">
    <div class="alert-repeater" ng-repeat="alert in alerts track by $index">
      <div uib-alert ng-if="alert.type == 'info'" class="alert alert-info" role="alert" close="closeAlert()" dismiss-on-timeout="5000">
          <strong>Hey!</strong> {{alert.message}}.
          <p ng-if="alert.details"><i>{{alert.details}}</i></p>
      </div>
      <div uib-alert ng-if="alert.type == 'spoiler'" class="alert alert-warning" role="alert" close="closeAlert()" dismiss-on-timeout="5000">
        <strong>Spoiler!</strong> {{alert.message}}.
        <p ng-if="alert.details"><i>{{alert.details}}</i></p>
      </div>
      <div uib-alert ng-if="alert.type == 'error'" class="alert alert-danger" role="alert" close="closeAlert()" dismiss-on-timeout="5000">
        <strong>Error: </strong> {{alert.message}}.
        <p ng-if="alert.details"><i>{{alert.details}}</i></p>
      </div>
    </div>
  </div>

  <div id="view" ng-view></div>
</div>

</body>
</html>
