<div>
  <center>
    <b><font face="Arial,Helvetica"><font color="#BB8F00">University of British
    Columbia, Department of Computer Science</font></font></b>
  </center>
  <center>
    <h1>
      <font face="Arial,Helvetica"><font color="#0000FF">CPSC 304&nbsp;</font></font>
    </h1>
    <h3>
      <font face="Arial,Helvetica">2016 Winter Term 1</font>
    </h3>
    <p>
  </p></center>
  <center>
    <h2>
      <font face="Times New Roman">Project Part&nbsp; 4 (Final)</font>
    </h2>
  </center>
  <p align="Center">
  &nbsp;
</p><h2>Group Name:&nbsp;Game of Thrones Reference

</h2><h2 align="left">Group Members:&nbsp;<div style="display:inline; font-weight:normal;">
  <u>Chase Walden</u>,&nbsp;<u>Simon Haefeli</u>,&nbsp;<u>Lotus Fenn</u>,&nbsp;<u>Yann Dubois</u></div></h2>
  <p>
  <table border="1" cellpadding="2" width="81%">
    <tbody><tr>
      <td width="42%" style="border-style: solid; border-width: 1" align="center"><b>Name</b></td>
      <td width="18%" style="border-style: solid; border-width: 1" align="center"><b>Student
        Number</b></td>
      <td width="12%" style="border-style: solid; border-width: 1" align="center">
  	<b>Unix ID</b></td>
      <td width="22%" style="border-style: solid; border-width: 1" align="center">
  	<b>Email Address</b></td>
    </tr>
    <tr>
      <td width="42%" style="border-style: solid; border-width: 1" height="50">Chase Walden</td>
      <td width="18%" style="border-style: solid; border-width: 1" height="50">44757145</td>
      <td width="12%" style="border-style: solid; border-width: 1" height="50">e0b0b</td>
      <td width="22%" style="border-style: solid; border-width: 1" height="50">chase.walden[at]alumni[dot]ubc[dot]ca</td>
    </tr>
    <tr>
      <td width="42%" style="border-style: solid; border-width: 1" height="50">Simon Haefeli</td>
      <td width="18%" style="border-style: solid; border-width: 1" height="50">70440169</td>
      <td width="12%" style="border-style: solid; border-width: 1" height="50">i6z0b</td>
      <td width="22%" style="border-style: solid; border-width: 1" height="50">simon.haefeli[at]epfl[dot]ch</td>
    </tr>
    <tr>
      <td width="42%" style="border-style: solid; border-width: 1" height="50">Lotus Fenn</td>
      <td width="18%" style="border-style: solid; border-width: 1" height="50">36227130</td>
      <td width="12%" style="border-style: solid; border-width: 1" height="50">r8d0b</td>
      <td width="22%" style="border-style: solid; border-width: 1" height="50">lotus.fenn[at]alumni[dot]ubc[dot]ca</td>
    </tr>
    <tr>
      <td width="42%" style="border-style: solid; border-width: 1" height="50">Yann Dubois</td>
      <td width="18%" style="border-style: solid; border-width: 1" height="50">70387162</td>
      <td width="12%" style="border-style: solid; border-width: 1" height="50">d1u0b</td>
      <td width="22%" style="border-style: solid; border-width: 1" height="50">y.dubois[at]epfl[dot]ch</td>
    </tr>
    </tbody></table>
  </p><p>&nbsp;</p>
  <p>
  </p><p>
  <font size="+1" face="Times New Roman">By typing our names and student
  numbers in the above table, we certify that the work in the attached assignment
  was performed solely by those whose names and student IDs are included above.</font>
  </p><p>
  <font size="+1" face="Times New Roman">In addition, we indicate that
  we are fully aware of the rules and consequences of plagiarism, as set forth
  by the Department of Computer Science and the University of British
  Columbia.</font>
  </p><p>
  <br>
  &nbsp; <br>
  &nbsp;

  </p>
</div>
