<div>
  <h1 id="viewTitle">Statistics about gender death</h1>
  <button uib-popover-template="'views/sqlpop.html'" popover-class="sql-popover" popover-placement="auto bottom-right" popover-trigger="'mouseenter'" class="btn btn-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    </button>
  <hr class="viewHr"/>
  <div class="inputBox">
      <p>
        What is the death percentage for men and women?
      </p>
    <button ng-click="submit_form()">Send</button>
  </div>
  <br/>

  <div ng-show="show_loading">
    <p>Loading</p>
  </div>

  <div ng-show="show_result">
    <table>
      <thead>
        <tr>
          <th class="titles">Gender</th>
          <th class="titles">Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in result">
          <td>{{i.GENDER}}</td>
          <td>{{(i.AVERAGE_DEATH | number : 2)*100}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>