<div>
	<h1 id="viewTitle">Leader of Group</h1>
	<button uib-popover-template="'views/sqlpop.html'" popover-placement="left" popover-trigger="'mouseenter'" class="btn btn-info">
		<span class="glyphicon glyphicon-info-sign"></span>
	</button>
	<hr/>
	<div class="inputBox">

	  <p>
	    Who is the current leader of <input type="text" ng-model="name" placeholder="Group"> and do they want to seize the throne?
	  </p>
	  <button ng-click="submit_form()">Enter</button>
	</div>

	<div ng-show="show_loading">
	  <p>Loading</p>
	</div>

	<div class="resultBox" ng-show="show_result">
	  <div ng-show="(result).length"> The leader is {{result[0].NAME}},
	   <span ng-show="result[0].ASPIRES_TO_THRONE == '1'"> and wants to seize the throne</span>
	   <span ng-show="result[0].ASPIRES_TO_THRONE == '0'"> and doesn't want to seize the throne</span>
	  </div>
	  <div ng-show="!(result).length">Unknown</div>
	</div>
</div>