<div>  
  <h1 id="viewTitle">Orphan makers</h1>
  <button uib-popover-template="'views/sqlpop.html'" popover-placement="left" popover-trigger="'mouseenter'" class="btn btn-info">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <hr/>
  <div class="inputBox">
      <p>
        Which character killed all the parents of a child?
      </p>
    <button ng-click="submit_form()">Send</button>
  </div>

  <div ng-show="show_loading">
    <p>Loading</p>
  </div>

  <div class="resultBox" ng-show="show_result">
    <label><u>The killers are :</u></label>
    <ul>
      <li ng-repeat="i in result">{{i.KILLER}} who killed all the parents of {{i.CHILD}}</li>
    </ul>
  </div>
</div>