<div>
	<h1 id="viewTitle">Most present character through the episodes</h1>
	<button uib-popover-template="'views/sqlpop.html'" popover-class="sql-popover" popover-placement="auto bottom-right" popover-trigger="{'mouseenter':'click'}" class="btn btn-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    </button>
	<hr class="viewHr"/>
	<div class="inputBox">
	  <p>
	     Who is the character that was in the most episodes?
	  </p>
	  <button ng-click="submit_form()">Enter</button>
	</div>

	<div ng-show="show_loading">
	  <p>Loading</p>
	</div>

	<div class="resultBox" ng-show="show_result">
	 {{result[0].NAME}} was in {{result[0].NUMBER_EPISODES}} episodes 
	</div>
</div>