<div>
  <input type="text" ng-model="dad_name">
  <button ng-click="submit_form()">Send</button>
</div>

<div ng-show="show_loading">
  <p>Loading</p>
</div>

<div ng-show="show_result">
  <table>
    <thead>
      <tr>
        <td>Child</td>
        <td>Mother</td>
        <td>Father</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in result">
        <td>{{i.NAME}}</td>
        <td>{{i.NAME_MOTHER}}</td>
        <td>{{i.NAME_FATHER}}</td>
      </tr>
    </tbody>
  </table>
</div>
