<!-- (1 point) Selection and projection query --> 
<!-- provide an interface for the user to specify the selection condition and the attributes to be returned.-->
<form>
    <p>Select a group: </p>
    <div class="cc-selector">
        <input id="arryn" type="radio" name="house" value="arryn" />
        <label class="drinkcard-cc arryn" for="arryn"></label>
        <input id="baelish" type="radio" name="house" value="baelish" />
        <label class="drinkcard-cc baelish" for="baelish"></label>
        <input id="baratheon" type="radio" name="house" value="baratheon" />
        <label class="drinkcard-cc baratheon" for="baratheon"></label>
        <input id="greyjoy" type="radio" name="house" value="greyjoy" />
        <label class="drinkcard-cc greyjoy" for="greyjoy"></label>
        <input id="lannister" type="radio" name="house" value="lannister" />
        <label class="drinkcard-cc lannister" for="lannister"></label>
        <input id="nightswatch" type="radio" name="house" value="nightswatch" />
        <label class="drinkcard-cc nightswatch" for="nightswatch"></label>
        <input id="stark" type="radio" name="house" value="stark" />
        <label class="drinkcard-cc stark" for="stark"></label>
        <input id="tully" type="radio" name="house" value="tully" />
        <label class="drinkcard-cc tully" for="tully"></label>
        <input id="tyrell" type="radio" name="house" value="tyrell" />
        <label class="drinkcard-cc tyrell" for="tyrell"></label>
    </div>
</form>