<div ng-controller="GroupInfosController">
    <h1 id="viewTitle">Infos about groups</h1>
    <button uib-popover-template="'views/sqlpop.html'" popover-placement="left" popover-trigger="'mouseenter'" class="btn btn-info">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    <hr/>
    <form name="groupAndAttributes" ng-submit="submit_form()">
        <legend>Choose a group:</legend>
        <div class="cc-selector">
            <input ng-model="group" id="arryn" type="radio" name="house" value="Arryn" />
            <label class="drinkcard-cc arryn" for="arryn"></label>
            <input ng-model="group" id="baelish" type="radio" name="house" value="Baelish" />
            <label class="drinkcard-cc baelish" for="baelish"></label>
            <input ng-model="group" id="baratheon" type="radio" name="house" value="Baratheon" />
            <label class="drinkcard-cc baratheon" for="baratheon"></label>
            <input ng-model="group" id="greyjoy" type="radio" name="house" value="Greyjoy" />
            <label class="drinkcard-cc greyjoy" for="greyjoy"></label>
            <input ng-model="group" id="lannister" type="radio" name="house" value="Lannister" />
            <label class="drinkcard-cc lannister" for="lannister"></label>
            <input ng-model="group" id="nightswatch" type="radio" name="house" value="Nights Watch" />
            <label class="drinkcard-cc nightswatch" for="nightswatch"></label>
            <input ng-model="group" id="stark" type="radio" name="house" value="Stark" />
            <label class="drinkcard-cc stark" for="stark"></label>
            <input ng-model="group" id="tully" type="radio" name="house" value="Tully" />
            <label class="drinkcard-cc tully" for="tully"></label>
            <input ng-model="group" id="tyrell" type="radio" name="house" value="Tyrell" />
            <label class="drinkcard-cc tyrell" for="tyrell"></label>
        </div>

        <div>
            <legend>Choose attributes:</legend>
            <input ng-model="selectedAttribute[0]"  type="checkbox" name="attribute" id="name" value="name">
            <label for="name">name</label><br/>
            <input ng-model="selectedAttribute[1]"  type="checkbox" name="attribute" id="year_of_birth" value="year_of_birth">
            <label for="year_of_birth">year_of_birth</label><br/>
            <input ng-model="selectedAttribute[2]"  type="checkbox" name="attribute" id="gender" value="gender">
            <label for="gender">gender</label><br/>
            <input ng-model="selectedAttribute[3]" type="checkbox" name="attribute" id="job" value="job">
            <label for="job">job</label><br/>
            <input ng-model="selectedAttribute[4]" type="checkbox" name="attribute" id="first_appearance" value="first_appearance">
            <label for="first_appearance">first_appearance</label><br/>
            <input ng-model="selectedAttribute[5]"  type="checkbox" name="attribute" id="killer" value="killer">
            <label for="killer">killer</label><br/>
            <input ng-model="selectedAttribute[6]"  type="checkbox" name="attribute" id="killed_in_season" value="killed_in_season">
             <label for="killed_in_season">killed_in_season</label>
        </div>

        <button type="submit" >Get Info</button>
    </form>
    <br/>
    <div ng-show="show_loading">
       <p>Loading</p>
    </div>

    <div ng-show="show_result">
        <table>          
            <thead>               
                <tr>                   
                    <th class="titles" ng-repeat="h in table.header">{{h}}</th>
                </tr>          
            </thead>           
            <tbody>                
                <tr ng-repeat="row in table.entries">                   
                    <td ng-repeat="i in row track by $index">{{i}}</td>               
                </tr>           
            </tbody>       
        </table>
    </div>
</div>    

