<div>
  <h1 id="viewTitle">The youngest parents</h1>
  <button uib-popover-template="'views/sqlpop.html'" popover-placement="left" popover-trigger="'mouseenter'" class="btn btn-info">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <hr/>
  <div class="inputBox">
    <p>
      Who had a child at the youngest age?
    </p>
    <button ng-click="submit_form()">Enter</button>
  </div>
  <br/>
  <div ng-show="show_loading">
    <p>Loading</p>
  </div>

  <div class="resultBox" ng-show="show_result">
    <table>
      <thead>
        <tr>
          <th class="titles">Parent</th>
          <th class="titles">Child</th>
          <th class="titles">At what age</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in result">
          <td>{{i.PARENT}}</td>
          <td>{{i.CHILD}}</td>
          <td>{{i.DIFFERENCE}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  
